@(errors: Iterable[FormError] = Nil, inputData: Map[String, String] = Map.empty, labelText: String, inputName: String,
		inputType: String = "text", placeholder: String = "")(rightContent: Html = Html(""))
<div class="form-group@(if (errors.exists(_.key == inputName)) " has-error")">
	<label class="col-xs-2 control-label" for="@inputName">@labelText</label>
	<div class="col-xs-3">
		<input type="@inputType" placeholder="@placeholder" class="form-control" name="@inputName" id="@inputName"
		value="@(if (inputData.contains(inputName)) inputData(inputName))">
		@defining(errors.filter(_.key == inputName).iterator) { i =>
			@for(error <- i) {
				<span class="help-block">@error.message@(if(i.hasNext) ", " else "")</span>
			}
		}
	</div>
	@rightContent
</div>